* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100vh;
  background-color: #f0f0f0;
  flex-direction: column;
  border: 1px solid blanchedalmond;
}

.my-button {
  background-color: darkslategrey;
  color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: none;
  margin: 2px;
}

.input-text {
  margin-bottom: 5px;
}

.input-field {
  text-align: right;
  width: 180px;
  height: 30px;
  padding-right: 5px;
  font-size: 1.2rem;
}
